n8n/Whatsap clinica + Central de Controle.json
{
  "name": "Whatsap clinica + Central de Controle",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.numero }}",
        "sessionTTL": 1800,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -720,
        416
      ],
      "id": "ce2273a6-0798-436c-9221-76a3d1527777",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "muShVOaDXunFAzUU",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Dados').item.json.instancia }}",
        "remoteJid": "={{ $('Dados').item.json.numero }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        432,
        208
      ],
      "id": "478636ef-6b42-4658-80a3-0cb31a91f366",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "F9TWPbCpohtihy6Y",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=buffer: {{ $('Dados').item.json.numero }}",
        "messageData": "={{ $('Dados').item.json['mensagem '] }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1552,
        128
      ],
      "id": "6a5c0c7b-b526-434b-af01-3d5c3b281098",
      "name": "push",
      "credentials": {
        "redis": {
          "id": "muShVOaDXunFAzUU",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": "=3"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1360,
        128
      ],
      "id": "5b056994-31d1-4f3e-b9ff-6db0bac3d7fc",
      "name": "Wait",
      "webhookId": "43aa8e0d-8bb5-48d9-b869-620cb9651025"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "msgs",
        "key": "=buffer: {{ $('Dados').item.json.numero }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1136,
        128
      ],
      "id": "0125bd82-5f9d-4130-91e6-06710555ec24",
      "name": "msgs",
      "credentials": {
        "redis": {
          "id": "muShVOaDXunFAzUU",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "42afc77a-7ce3-48c1-bccf-e26a7b291ad8",
              "leftValue": "={{ $json.msgs.last() }}",
              "rightValue": "={{ $('Dados').item.json['mensagem '] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1568,
        368
      ],
      "id": "4a6f1f98-5aec-48a7-9c83-53bd4f2e27a2",
      "name": "filterBuffer"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=buffer: {{ $('Dados').item.json.numero }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1360,
        368
      ],
      "id": "0836d55f-00fa-4f6f-9f58-13ad62864edc",
      "name": "deleteBuffer",
      "credentials": {
        "redis": {
          "id": "muShVOaDXunFAzUU",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e3bdb73-4771-4318-9ebd-73085f56ae4e",
              "name": "text",
              "value": "={{ $('filterBuffer').item.json.msgs.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1136,
        368
      ],
      "id": "20258517-aaad-4123-8dc1-1abb563e8afe",
      "name": "junta_msgs"
    },
    {
      "parameters": {
        "url": "={{ 'http://central_controle:3000/api/integrations/conversations/' + encodeURIComponent($('Dados').item.json.numero) + '/control' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-integration-key",
              "value": "={{ $env.CENTRAL_INTEGRATION_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2032,
        144
      ],
      "id": "3a080464-01d7-4f2f-8f9e-b3864a0a1116",
      "name": "Central - Consultar controle"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f52ac0f9-3319-496e-a9c4-98f140eb9538",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "ai",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1856,
        144
      ],
      "id": "2d7baf5c-6818-454e-804e-34ea4c700bfe",
      "name": "Central - IA ativa?"
    },
    {
      "parameters": {
        "toolDescription": "Use esta ferramenta quando a conversa precisar ser assumida por um funcionário humano. Use se o paciente pedir uma pessoa, se a dúvida fugir da base de conhecimento, se houver incerteza médica/administrativa, reclamação, urgência ou qualquer situação em que você não deva responder sozinho. Informe um motivo curto e claro.",
        "method": "POST",
        "url": "=http://central_controle:3000/api/integrations/handoff",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-integration-key",
              "value": "={{ $env.CENTRAL_INTEGRATION_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ phone: $('Dados').item.json.numero, name: $('Dados').item.json['nome da pessoa'], instance: $('Dados').item.json.instancia, reason: $fromAI('motivo', 'Motivo curto e claro para solicitar atendimento humano', 'string') || 'Atendimento humano solicitado' }) }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -448,
        528
      ],
      "id": "0be2bdb8-5d9a-4997-9b77-c63d71225a70",
      "name": "Central - Abrir chamado humano"
    },
    {
      "parameters": {
        "toolDescription": "Use esta ferramenta somente depois de coletar todos os dados necessários para a solicitação de consulta: nome do paciente, idade, motivo da consulta, médico ou especialidade e dias/horários preferidos. O telefone vem automaticamente do WhatsApp. Depois de usar a ferramenta, confirme ao paciente que a equipe entrará em contato para terminar o agendamento.",
        "method": "POST",
        "url": "=http://central_controle:3000/api/integrations/appointments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-integration-key",
              "value": "={{ $env.CENTRAL_INTEGRATION_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ consulta: { nome: $fromAI('nome', 'Nome completo do paciente', 'string'), idade: $fromAI('idade', 'Idade do paciente', 'string'), telefone: $('Dados').item.json.numero, motivo: $fromAI('motivo', 'Motivo ou condição médica da consulta', 'string'), data: $fromAI('data', 'Dias e horários preferidos pelo paciente', 'string'), medico: $fromAI('medico', 'Médico ou especialidade indicada para a consulta', 'string') }, instance: $('Dados').item.json.instancia }) }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -224,
        528
      ],
      "id": "7e16db18-d35b-4991-908c-bca473dbc1cb",
      "name": "Central - Registrar consulta"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://central_controle:3000/api/integrations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-integration-key",
              "value": "={{ $env.CENTRAL_INTEGRATION_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ phone: $('Dados').item.json.numero, name: $('Dados').item.json['nome da pessoa'], instance: $('Dados').item.json.instancia, direction: 'outbound', senderType: 'ai', text: $('AI Agent').item.json.output }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        208
      ],
      "id": "bda188f7-3ff4-4c86-966f-56827ed6aa80",
      "name": "Central - Registrar resposta IA"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mensagem",
        "options": {
          "binaryPropertyName": "audio_file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3488,
        144
      ],
      "id": "c9169a47-3e29-4319-a0a9-f87b73640a37",
      "name": "Webhook EVO",
      "webhookId": "9f4f41ab-fc98-427f-ab55-5bcf092d9c51"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://central_controle:3000/api/integrations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-integration-key",
              "value": "={{ $env.CENTRAL_INTEGRATION_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ (() => {\n  const dados = $('Dados').item.json;\n  const isAudio = dados['tipo da mensagem'] === 'audioMessage';\n  const payload = {\n    phone: dados.numero,\n    name: dados['nome da pessoa'],\n    instance: dados.instancia,\n    direction: 'inbound',\n    senderType: 'patient',\n    contentType: isAudio ? 'audio' : 'text',\n    text: dados['mensagem '] || (isAudio ? '[Áudio]' : ''),\n    externalId: dados['id da mensagem'],\n  };\n\n  if (isAudio) {\n    payload.audio = {\n      base64: dados['audio base64'],\n      mimeType: dados['audio mime'] || 'audio/ogg',\n      filename: dados['audio filename'],\n    };\n  }\n\n  return JSON.stringify(payload);\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2304,
        144
      ],
      "id": "272c89e3-c16c-41e9-b4fa-871125268b4d",
      "name": "Central - Registrar recebida"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "52aaf749-fe4f-44e4-880e-15b2bfc027f1",
                    "leftValue": "={{ $('Webhook EVO').item.json.body.data.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e514e613-fd6a-48bd-b0ae-bae2448c810e",
                    "leftValue": "={{ $('Webhook EVO').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook EVO').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3d635754-1e1b-4e64-bc3c-b4efb1810e91"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f0fde968-f2f7-4118-854a-dcb2999bbf3f",
                    "leftValue": "={{ $('Webhook EVO').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e27e58b0-6464-4e67-8982-6bbff45068c7",
                    "leftValue": "={{ $('Webhook EVO').item.json.body.data.messageType }}",
                    "rightValue": "documentMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            }
          ]
        },
        "options": {}
      },
      "id": "7f09db90-adbf-4ac3-912d-1cd836eef376",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -3264,
        128
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "binaryPropertyName": "audio_file",
        "options": {
          "fileName": "file.ogg",
          "mimeType": "application/ogg"
        }
      },
      "id": "6ba07bfe-0730-45bb-bc0c-b44620b793c9",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2848,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $('Webhook EVO').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e5735225-213d-4cfd-9cad-519aee2621af",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2992,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bb769dd-fe99-4157-9c8f-8f3a5a2e10e4",
              "name": "numero",
              "value": "={{ $('Webhook EVO').item.json.body.data.key.senderPn || $('Webhook EVO').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "499e4238-87c8-4eac-b6a4-f7467be74c8d",
              "name": "instancia",
              "value": "={{ $('Webhook EVO').item.json.body.instance }}",
              "type": "string"
            },
            {
              "id": "25fffbd2-072d-413b-bd3d-740e6e776124",
              "name": "mensagem ",
              "value": "={{ $('Webhook EVO').item.json.body.data.message.conversation || $('Webhook EVO').item.json.body.data.message.extendedTextMessage?.text || $json.data }}",
              "type": "string"
            },
            {
              "id": "117dcb14-3994-45c3-b850-707746f192e0",
              "name": "id da mensagem",
              "value": "={{ $('Webhook EVO').item.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "7004b57d-9d79-4915-82af-d1ceda291d9e",
              "name": "nome da pessoa",
              "value": "={{ $('Webhook EVO').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "9fc49d08-25e1-4b58-aa25-237a5d27e871",
              "name": "tipo da mensagem",
              "value": "={{ $('Webhook EVO').item.json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "859c38af-e853-47c1-8c05-928f7f2a50d0",
              "name": "base64",
              "value": "={{ $('Webhook EVO').item.json.body.data.message.base64 || '' }}",
              "type": "string"
            },
            {
              "id": "abdf84d3-eefb-47c0-9729-b2ca7452a6aa",
              "name": "mime",
              "value": "={{ $('Webhook EVO').item.json.body.data.message.audioMessage?.mimetype || 'audio/ogg' }}",
              "type": "string"
            },
            {
              "id": "cae87733-a714-49d5-a180-4bd5362c1f82",
              "name": "filename",
              "value": "={{ $('Webhook EVO').item.json.body.data.key.id + '.ogg' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2592,
        144
      ],
      "id": "fc5f3cb9-84d6-4c5f-8b03-9fb065e06078",
      "name": "Dados"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whisper-asr:9000/asr",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio_file",
              "inputDataFieldName": "audio_file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2704,
        304
      ],
      "id": "a2ff0189-e88c-402a-bb02-8832c6f681fc",
      "name": "transcription"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://central_controle:3000/api/integrations/handoff",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-integration-key",
              "value": "={{ $env.CENTRAL_INTEGRATION_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ phone: $('Dados1').item.json.numero, name: $('Dados1').item.json['nome da pessoa'], instance: $('Dados1').item.json.instancia, reason: 'Imagem/Documento recebido' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2688,
        560
      ],
      "id": "b75b9454-8737-4fbf-b053-baef1580e185",
      "name": "Central - Abrir chamado humano1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://central_controle:3000/api/integrations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-integration-key",
              "value": "={{ $env.CENTRAL_INTEGRATION_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  phone: $('Dados1').item.json.numero,\n  name: $('Dados1').item.json['nome da pessoa'],\n  instance: $('Dados1').item.json.instancia,\n  direction: 'inbound',\n  senderType: 'patient',\n  contentType: 'image',\n  text: $('Dados1').item.json['mensagem '] || '',\n  image: {\n    base64: $('Dados1').item.json['base64'],\n    mimeType: $('Dados1').item.json['mime'],\n    filename: $('Dados1').item.json['filename']\n  },\n  externalId: $('Dados1').item.json['id da mensagem']\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2864,
        560
      ],
      "id": "044476e7-c199-42fb-8762-32cc4cf59054",
      "name": "Central - Registrar imagem recebida"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bb769dd-fe99-4157-9c8f-8f3a5a2e10e4",
              "name": "numero",
              "value": "={{ $('Webhook EVO').item.json.body.data.key.senderPn || $('Webhook EVO').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "499e4238-87c8-4eac-b6a4-f7467be74c8d",
              "name": "instancia",
              "value": "={{ $('Webhook EVO').item.json.body.instance }}",
              "type": "string"
            },
            {
              "id": "25fffbd2-072d-413b-bd3d-740e6e776124",
              "name": "mensagem ",
              "value": "={{ $json.body.data.message.imageMessage.caption }}",
              "type": "string"
            },
            {
              "id": "117dcb14-3994-45c3-b850-707746f192e0",
              "name": "id da mensagem",
              "value": "={{ $('Webhook EVO').item.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "7004b57d-9d79-4915-82af-d1ceda291d9e",
              "name": "nome da pessoa",
              "value": "={{ $('Webhook EVO').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "9fc49d08-25e1-4b58-aa25-237a5d27e871",
              "name": "tipo da mensagem",
              "value": "={{ $('Webhook EVO').item.json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "859c38af-e853-47c1-8c05-928f7f2a50d0",
              "name": "base64",
              "value": "={{ $('Webhook EVO').item.json.body.data.message.base64 || '' }}",
              "type": "string"
            },
            {
              "id": "abdf84d3-eefb-47c0-9729-b2ca7452a6aa",
              "name": "mime",
              "value": "={{ $json.body.data.message.imageMessage.mimetype || $json.body.data.message.documentMessage.mimetype }}",
              "type": "string"
            },
            {
              "id": "cae87733-a714-49d5-a180-4bd5362c1f82",
              "name": "filename",
              "value": "={{ $json.body.data.key.id }}{{ $json.body.data.message.imageMessage.mimetype || $json.body.data.message.documentMessage.mimetype }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3040,
        560
      ],
      "id": "4c33e142-51a5-4f90-a9d3-206eb1da31c3",
      "name": "Dados1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1136,
        656
      ],
      "id": "a66be4c8-5141-4a00-9edd-666fbb3940c4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wRxGMvZ5Uoy9LmOH",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Você é a Daniele, assistente da Clínica Pró-Kids, uma clínica médica especialista em pediatria.\nSua missão é responder dúvidas e marcar consultas de pacientes via WhatsApp \nMantenha sempre um tom cordial, claro e profissional.\n\nBase de conhecimento da clínica Prókids:\n\nA. Informações dos Médicos\n   \nDr. Alessandro Melanda\n- Especialidade: Ortopedia Pediátrica - Referência nacional no tratamento de crianças com Paralisia Cerebral e deficiências no andar. Tratamento das doenças, lesões e deformidades que atingem o aparelho locomotor, incluindo os ossos, músculos, tendões, articulações e ligamentos. Também trata as deformidades e auxilia na programação da reabilitação das doenças neuromusculares como: paralisia cerebral, mielomeningocele, neuropatias, miopatias e outras.\n- Convênios aceitos: Não aceita convênios, apenas particular.\n- Observações: \n\nDr Alexandre Casagrande Canheu\n- Especialidade: Neurocirurgia Pediátrica - Hidrocefalias, Endoscopia Cerebral, Craniossinostoses, Mielomeningoceles, Malformações do Sistema Nervoso, Tumores, Traumas, Tratamento Cirúrgico da Espasticidade.\n- Convênios aceitos: Hospitalar.\n- Observações: \n\nDr. Akira Motomatsu Jr - Indisponível\n- Especialidade: Pediatria geral.\n- Convênios aceitos: Paciente deve entrar em contato com ele.\n- Observações: Saiu da clínica Prókids recentemente, porém pacientes desinformados ainda perguntam sobre ele. Para qualquer dúvida sobre o doutor, o paciente deve entrar em contato com ele. Atualmente ele está atendendo pacientes na clínica: Neonato;  Endereço: Rua Souza Naves 1044 sala 201, Londrina Pr; Telefone: (43)3020-3305.\n    \nDr. João Paulo Monteiro\n- Especialidade: Ortopedia e traumatologia pediátrica. Vasta experiência na manejo de pacientes que necessitem uso de fixadores externos para tratamento de afecções ortopédicas.\n- Convênios aceitos: Unimed.\n- Observações: \n\nDra. Cristiane Ikeda\n- Especialidade: Cardiologia Pediátrica - Referência na cardiologia pediátrica com larga experiência na condução de casos complexos. Realiza exames, diagnóstico, prevenção e tratamento de disfunções ou problemas relacionados ao coração.\n- Convênios aceitos: Unimed e Hospitalar.\n- Observações:\n\nB. Informações da clínica Pró-kids\n\n- Endereço da clínica Pró-Kids: Avenida Adhemar Pereira de Barros, 1199, Londrina – CEP 86047-250.\n- Horário de atendimento: segunda a sexta das 08h30 às 18h30.\n\nC. Informações gerais\n\n- Data atual: {{ $now }}\n- Numero de telefone do paciente: {{ $('Dados').item.json.numero }}\n\nFluxo de Atendimento:\n\n1. Saudação inicial - Somente na primeira interação\n“Olá, sou a Daniele, assistente da Clínica Pró-Kids. Como posso ajudar você hoje?”\n\n2. Identificação do motivo do contato - Uma pergunta por vez!\n- Caso 1 - Dúvida relacionada à clínica: Use seu conhecimento sobre a clínica para responder.\n- Caso 2 - Dúvida relacionada a um médico: Use seu conhecimento sobre os médicos para responder.\n- Caso 3 - Marcar uma consulta: 1. Pergunte o motivo para o paciente querer agendar uma consulta. 2. Pergunte o médico com o qual o paciente gostaria de marcar uma consulta. Caso o paciente não saiba o médico mais apropriado para sua condição ou queira marcar uma consulta com um médico não apropriado para sua condição, use sua base de conhecimento sobre os médicos para recomendar o médico mais apropriado. 3. Peça e colete os dias e horários de preferência do paciente para a consulta. 4. Peça e colete o nome e idade do paciente. 5. Quando tiver todos os dados, use a tool `Central - Registrar consulta` com: número de telefone, nome, idade, motivo da consulta, médico responsável e dias/horários preferidos. 6. Depois de usar a tool, responda: \"Pronto! Logo mais entraremos em contato para terminar o agendamento da consulta. Obrigada, tenha um ótimo dia.\"\n\n3. Resposta\n- Responda ao paciente em texto normal, sem JSON, sem Markdown e sem blocos de código.\n- Quando todos os dados de consulta forem coletados, use a tool `Central - Registrar consulta` antes de responder: \"Pronto! Logo mais entraremos em contato para terminar o agendamento da consulta. Obrigada, tenha um ótimo dia.\"\n- Quando precisar de atendimento humano, use a tool `Central - Abrir chamado humano` antes de responder: \"Aguarde só um momento, vou chamar um funcionário para ajudar você.\"\n- Se ainda faltar algum dado para consulta, faça apenas uma pergunta por vez.\n- Tom: Empático, profissional e simples.\n- Objetividade: Responda sempre de forma clara, direta e resumida.\n- Erros e exceções: Caso a dúvida do paciente fuja de sua base de conhecimento ou você não tenha certeza da resposta, chame o atendimento humano usando a tool.\n*IMPORTANTE: NÃO TENTE RESPONDER SE NÃO TIVER CERTEZA, NÃO INVENTE INFORMAÇÕES*\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -800,
        208
      ],
      "id": "3a142ea3-2dfd-4777-960f-a8fae76ae11e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -864,
        384
      ],
      "id": "74aea870-2f3a-40e3-bede-15f2da70e92b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fypklZmUAbq72Mu4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "push": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msgs": {
      "main": [
        [
          {
            "node": "filterBuffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filterBuffer": {
      "main": [
        [
          {
            "node": "deleteBuffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deleteBuffer": {
      "main": [
        [
          {
            "node": "junta_msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "junta_msgs": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Central - Registrar resposta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Central - Consultar controle": {
      "main": [
        [
          {
            "node": "Central - IA ativa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Central - IA ativa?": {
      "main": [
        [
          {
            "node": "push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Central - Abrir chamado humano": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Central - Registrar consulta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook EVO": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dados1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Central - Registrar recebida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Central - Registrar recebida": {
      "main": [
        [
          {
            "node": "Central - Consultar controle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcription": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Central - Registrar imagem recebida": {
      "main": [
        [
          {
            "node": "Central - Abrir chamado humano1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados1": {
      "main": [
        [
          {
            "node": "Central - Registrar imagem recebida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ef81a8d9-95b8-4fcd-ab29-50de159dab65",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ffec9525f6b75192113f31d6bc5b000fb11e2458d666acaebb513b673b1ee813"
  },
  "nodeGroups": [],
  "id": "XQx6wUbcPgG1ujdY",
  "tags": []
}
